.ccm-item-verwaltung {
  font-family: Arial, sans-serif;
}

.ccm-item-verwaltung > #main {
  background-color: lightgreen;
  border: 2px solid black;
}
.ccm-item-verwaltung > #main > .header {
  border-bottom: 2px solid black;
}
.ccm-item-verwaltung > #main > .items {
  background-color: beige;
  border-bottom: 2px solid black;
  overflow-y: scroll;
}

.ccm-item-verwaltung > #main > .header > .header > .title{
  font-size: 115%;
  font-weight: bold;
  padding: 0.5em;
}
.ccm-item-verwaltung > #main > .items-input {
  padding: 0.5em;
}

.ccm-item-verwaltung > #main > .header > .header > #text1 {
  display: table-cell;
}
.ccm-item-verwaltung > #main > .items > .item{
  display: table-row;
}
.ccm-item-verwaltung > #main > .items > .item > .checkBox{
  display: table-cell;
}
.ccm-item-verwaltung > #main > .items > .item > .text{
  display: table-cell;
}


